<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wiki Map</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  </head>

  <body>
    <div style="display: flex; justify-content: center;align-items: center;">
      <div>
        <form
          id="register-ejs"
          method="POST"
          class="form-signin"
          action="/api/register"
        >
          <label for="inputEmail">Email address</label>
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="email"
            aria-label="Login"
          />
          <label for="inputPassword">Password</label>
          <input
            type="password"
            placeholder="password"
            name="password"
            class="form-control"
            aria-label="Login"
          /><br />
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Register
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
